.theme-color{
    background-color:#37003c;
    color: aliceblue;
}

li a:hover {
   color: hsl(210, 100%, 80%); 
}

#news img{
    width: 278px;
    height: 185px;
    float: left;
    padding: 0px 20px;
}

.clearfix{
    clear: both;
}

.whitespace{
    height: 20px;
}

.news-element{
 
    margin-top: 15px;
}

.news-element a{
    text-decoration: none;
    color: black;
}

.news-element p{
    font-size: 18px;
    text-align: justify;
    padding-right: 10px;    
}


header{
    font-size: 4vh;
}
footer{
    margin-top: 20px;
    height: 40px;
   
}

table{
    margin: 20px auto;
}

th{
    font-size: 3vh;
    text-align: center;
    padding: 1vw 3vw;
}
td{
    text-align: center;
    padding: 0.6vw 2.8vw;
}




tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}
table {
    border: 1px solid #ccc;
}
